{% extends "base/base.html" %}
{% load static %}
{% block block_body_not_nav %}


<div class="container">
  <div class="form__layout">
      <div class="form__container">
          <div class="form__header">
              <header class="form__header--header">

                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


                <a href="http://127.0.0.1:8000/" >
                    <img style="margin-right: 10px;" class="uq-uikit-link-image__image" src="https://asset.uniqlo.com/g/icons/header_uq_en.svg" alt="UNIQLO ｜ UNIQLO">
                    <img class="uq-uikit-link-image__image" src="https://asset.uniqlo.com/g/icons/header_gu.svg" alt="Global | GU-GLOBAL">
                  </a>

                  <div class="footer__caption" style="margin-top: 80px;">                 
                </div>                 
              </header>
          </div>
            

          <div class="form__form--layout">
              <div class="form__form--container" style="display: flex; flex-wrap:wrap">
                  <form action="" method="POST" id="createproduct" enctype="multipart/form-data">
                      {% csrf_token %}
            <div class="row">
                <div class="col-sm-6">
                      <div style="vertical-align: inherit; font-size: 36px;">
                          <h1 style="font-size: 36px;color: black;">LOGIN</h1>
                      </div>

                      <div style="margin-top: 2rem; margin-bottom: 2rem;font-size: 1.5rem;">
                          <p>Please enter your registered email address and password.</p>
                      </div>


                      <div class="form__form--content" style="min-width:40rem">
                          <div class="form__row">
                              <div class="from__row--field">
                                  <div class="form__text--field">
                                      <div class="input__text--wrap">
                                          <input type="text" name="productForm-name" maxlength="256" required=""
                                              id="id_productForm-name" class="input__text--wrap--input"
                                              placeholder="xxx@uniqlo.com">
                                      </div>
                                      <div class="form__text--title">
                                          <div class="form__text--label">
                                              <label for="id_productForm-name" class="form__text--label--label">
                                                  <font style="vertical-align: inherit;">
                                                      <font style="vertical-align: inherit;">Mail address</font>
                                                  </font>
                                              </label>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="form__row">
                            <div class="from__row--field">
                                <div class="form__text--field">
                                    <div class="input__text--wrap">
                                        <input type="text" name="productForm-name" maxlength="256" required=""
                                            id="id_productForm-name" class="input__text--wrap--input"
                                            placeholder="Enter your password here">
                                    </div>
                                    <div class="form__text--title">
                                        <div class="form__text--label">
                                            <label for="id_productForm-name" class="form__text--label--label">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">PASSWORD</font>
                                                </font>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                        <div>
                            <input type="checkbox"> 
                            <span class="banner__nav--span label--primary">
                         Show password
                          </span>>
                            </div>

                            <div>
                                <a href="http://127.0.0.1:8000/"> 
                                    <div class="banner__layout container">
                                        <div class="banner__select">
                                            <nav class="banner__nav">
                                                <ol class="banner__nav--group">
                                                    <li class="banner__nav--item">
                                                        <img class="uq-uikit-link-image__image" src="https://asset.uniqlo.com/g/icons/header_uq_en.svg" alt="text_brand_gu">
                                                    </li>
                                                    <li class="banner__nav--item">
                                                        <a href="#" class="banner__nav--link">
                                                            <span class="banner__nav--span label--primary">
                                                                Terms of service
                                                            </span>                                   
                                                    </li>
                                                    <li class="banner__nav--item active">
                                                        <a href="#" class="banner__nav--link">
                                                        <span class="banner__nav--span label--primary">
                                                            privacy policy
                                                        </span>
                                                    </li>
                                                </a>
                                                </ol>
                                            </nav>
                                        </div>
                             </div>

                             <div>
                                <a  href="http://127.0.0.1:8000/"> 
                                    <div class="banner__layout container">
                                        <div class="banner__select">
                                            <nav class="banner__nav">
                                                <ol style="margin-top: 0.1rem;" class="banner__nav--group">
                                                    <li class="banner__nav--item">
                                                        <img class="uq-uikit-link-image__image" src="https://asset.uniqlo.com/g/icons/header_gu.svg" alt="text_brand_gu">
                                                    </li>
                                                    <li class="banner__nav--item">
                                                        <a href="#" class="banner__nav--link">
                                                            <span class="banner__nav--span label--primary">
                                                                Terms of service
                                                            </span>                                   
                                                    </li>
                                                    <li class="banner__nav--item active">
                                                        <a href="#" class="banner__nav--link">
                                                        <span class="banner__nav--span label--primary">
                                                            privacy policy
                                                        </span>
                                                    </li>
                                                </a>
                                                </ol>
                                            </nav>
                                        </div>
                             </div>

                          <div class="button--third" style="margin-top: 30px;">
                              <button type="submit" class="button--third--button">LOGIN</button>
                          </div>

                          <div>
                              <a href="" style="color: black;">IF YOU FORGOT YOUR PASSWORD, CLICK HERE</a>
                          </div>
                      </div>
                  </form>
                  
                  <div class="col-sm-6">
                  <form action="" method="POST" style="max-width:50%; margin: 0 auto; margin-top: 50px; "
                  class="text-center" id="createImageProduct" enctype="multipart/form-data">
                  {% csrf_token %}
                  <header class="form__header--header">
                      <h1 class="form__header--h1" style="font-size: 3rem; text-transform:uppercase">
                          <font style="vertical-align: inherit;">
                              <font style="vertical-align: inherit;">REGISTRATION OF NEW MEMBERS</font>
                          </font>
                      </h1>
                  </header>
                  <div class="form__row__image">
                      <div class="from__row--field__image">
                          <div class="form__text--field__image">
                              <div class="input__text--wrap__image">                          
                              </div>
                              <div class="form__text--title__image">
                                  <div class="form__text--label__image">                                 
                                          <div style="margin-top: 2rem; margin-bottom: 2rem;font-size: 1.5rem;">
                                            <p>Membership registration is required to use the online store.
                                               We will give you a coupon when you register as a new member.</p>
                                        </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                 
                  <div class="button--third" style="margin: 30px auto; ">
                      <button type="submit" class="button--third--button">NEW MEMBER REGISTRATION</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
</div>
</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- 
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-md">
    <a class="navbar-brand" href="{% url 'home:index' %}">Uniqlo</a>
  </div>
</nav>  -->
<!-- 
 <h1 class="text-center mt-5 mb-4 display-3">Login</h1>

{% if error %}
  <div class="mb-3 mt-5 w-100 d-flex justify-content-center align-items-center" role="alert" >
    <div class="w-50 alert alert-secondary">{{ error }}</div> 
  </div>
{% endif %}
<form action="" method="POST" class="d-flex flex-column align-items-center">
  {% csrf_token %}
  <div class="mb-3 w-50">
    <label for="id_username" class="form-label">Username</label>
    <input type="text" name="username" autofocus="" required="" id="id_username" class="form-control" aria-describedby="emailHelp">
  </div>
  <div class="mb-3 w-50">
    <label for="id_password" class="form-label">Password</label>
    <input type="password" name="password" required="" id="id_password" class="form-control">
  </div>
  <a href="{% url 'register:signup' %}" class="mb-3" style="text-decoration: none; color: #212529; font-size: 16px ">Signup new member</a>
  <button type="submit" class="btn btn-outline-dark">login</button>
</form> -->
{% endblock block_body_not_nav %}